[submodule "broker"]
	path = broker
	url = git@github.com:vembry/broker.git
	branch = main
[submodule "saga"]
	path = saga
	url = git@github.com:vembry/saga.git
[submodule "load-test"]
	path = load-test
	url = git@github.com:vembry/load-test.git
