apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    url: http://monitoring-prometheus:9090
  - name: Tempo
    uid: tempo
    type: tempo
    url: http://monitoring-tempo:3100
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: "prometheus"
      nodeGraph:
        enabled: true